.customer-list-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.customer-list-container table {
    width: 100%;
    border-collapse: collapse;
}

.customer-list-container table thead {
    background-color: #ececec;
}

.customer-list-container table th {
    cursor: pointer;
}

.customer-list-container table th,
.customer-list-container table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.customer-list-container table tbody tr:nth-child(odd) {
    background-color: #f9f9f9;
}

.customer-list-container table tbody tr:hover {
    background-color: #f2f2f2;
}

.read-more-btn {
    cursor: pointer;
}
